services:
  mariadb:
    build: ./mariadb
    container_name: mariadb
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - backend
  
  wordpress:
    build: ./wordpress
    container_name: wordpress
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - backend
      - frontend

  nginx:
    build: ./nginx
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html:ro
    networks:
      - frontend

volumes:
  mariadb_data:
  wordpress_data:
networks:
  backend:
  frontend: